NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

DATABASE_URL=
DATABASE_URL_MIGRATION=

SUPABASE_SERVICE_ROLE_KEY=

WHOP_API_KEY=
WHOP_WEBHOOK_SECRET=
WHOP_COMPANY_ID=

CALENDLY_API_KEY=
CALENDLY_WEBHOOK_SIGNING_KEY=
CALENDLY_ORGANIZATION_URI=